<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itbaizhan.springbootandmybatisdemo1.mapper.LoginMapper">

    <resultMap id="BaseResultMap" type="com.itbaizhan.springbootandmybatisdemo1.domain.Login">
            <id property="id" column="id" />
            <result property="name" column="name" />
            <result property="password" column="password" />
            <result property="role" column="role" />
    </resultMap>

    <sql id="Base_Column_List">
        id,name,password,role
    </sql>
</mapper>
